.level-item {
  width: 70%;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  color: #FFFFFF;
  font-size: 20px;
  //cursor: pointer;
}

.level-check {
  cursor: pointer;
}

.level-number {
  cursor: pointer;
}

.passed {
  color: #fdfd08;
}

.current {
  background-color: #a59b76;
}