.level-item {
  width: 70%;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  color: #FFFFFF;
  font-size: 25px;
}

.passed {
  color: #fdfd08;
}

.current {
  background-color: #a59b76;
}