.viewer {
  width: 50%;
  height: 100%;
  //height: 700px;
  border: 2px solid #b6abab;
}

.viewer-title {
  height: 11%;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #f4ecec;
  font-size: 15px;
}

.viewer-title p {
  color: #b6abab;
}

.viewer-main {
  width: 100%;
  height: 89%;
  display: flex;
  flex-direction: row;
  background: #201f1f;
}

.table-code {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: #b6abab;
}

.table-code div {
  line-height: 1.7;
  cursor: pointer;
  div {
    padding-left: 20px;
    cursor: pointer;
  }
}





