.item {
  width: 50px;
  height: 50px;
  background: aliceblue;
}

.plate {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  background: aliceblue;
}

.bento {
  width: 70px;
  height: 70px;
  background: red;
}

.orange {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: orange;
}

.plate, .bento, .orange {
  transform: translateY(0);
  transition: ease-in-out 500ms;
  &:hover,
  &.active {
    border: 2px solid green;
  }

  &.fly-away {
    transform: translateY(-100vh);
  }
}
