.item {
  width: 50px;
  height: 50px;
  background: aliceblue;
}

.plate {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: aliceblue;
}

.colorful {
  border: 5px solid blue;
}

.bento {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: red;
}

.orange {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: orange;
}

.apple {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: green;
}

.red {
  background: red;
}

.violet {
  background: blueviolet;
}

.plate, .bento, .orange, .apple {
  transform: translateY(0);
  transition: ease-in-out 500ms;
  &:hover,
  &.active {
    border: 2px solid green;
  }

  &.fly-away {
    transform: translateY(-100vh);
  }
}
