.item {
  cursor: pointer;
}

.plate {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: aliceblue;
}

#colorful {
  background: radial-gradient(#ffffff, #052b3b);
}

.bento {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #990808;;
}

.orange {
  //position: relative;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: orange;
}

.apple {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background: green;
}



.red {
  background: red;
}

.violet {
  background: #5f0eaa;
}

.plate,
.bento,
.orange,
.apple {
  //transform: translateY(0);
  //position: relative;
  bottom: 0;
  transition: ease-in-out 500ms;
  &.active {
    border: 5px solid yellow;
  }

  &.fly-away {
    position: relative;
    //transform: translateY(-100vh);
    bottom: 100vh;
  }
}

.right {
  //animation: 1s infinite alternate sun-rise;
}

.wrong {
  transform: rotateZ(30deg);
}

@keyframes sun-rise {
  0%, 100% {
    transform: translate(0px, 0px) rotateZ(0deg);
  }
  30% {
    transform: translate(5px, 5px) rotateZ(5deg);
  }
  70% {
    transform: translate(5px, -5px) rotateZ(-5deg);
  }
}
