.editor {
  width: 50%;
  height: 100%;
  //height: 700px;
  border: 2px solid #b6abab;
}

.editor-title {
  height: 11%;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #f4ecec;
  font-size: 15px;
}

.editor-title p {
  color: #b6abab;
}

.editor-main {
  width: 100%;
  height: 89%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  background: #b6abab;
}

.editor-code {
  width: 90%;
  height: 25px;
  display: flex;
  flex-direction: row;
}
.editor-form {
  width: 100%;
  height: 100%;
  padding: 3px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.editor-label {
  height: 100%;
  width: 80%;
  border-radius: 7px;
}

.editor-selector {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 7px;
  background: #cce8e7;
}

.editor-but {
  height: 100%;
  width: 15%;
  border-radius: 7px;
  cursor: pointer;
}

.editor-but:hover {
  background-color: #a59b76;
}

.table-linea {
  background: #777070;
}



